body {
  /*Box model stuff*/
  margin: 0;
  padding: 0;
  /*Typography stuff*/
  font-family: Arial, sans-serif;
}

/*header styling*/
header {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*Box model stuff*/
  padding: 3.1vh 5vw 2vh 7vw;
  background-color: #fff;
  /*Typography stuff*/
  color: #000;
  /*Miscellaneous*/
  gap: 2.3vw;
}

.logo {
  /*Typography stuff*/
  font-family: "Integral CF", Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  text-align: left;
  /*Miscellaneous*/
  gap: 0px;
}

nav ul {
  /*Display stuff*/
  display: flex;
  /*Box model stuff*/
  margin: 0;
  padding: 0;
  /*Miscellaneous*/
  list-style-type: none;
  gap: 0.8rem;
}

nav ul li a {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  padding: 0.5vw;
  border: none;
  background-color: #fff;
  /*Typography stuff*/
  font-family: "Satoshi", Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #000;
  /*Miscellaneous*/
  cursor: pointer;
  gap: 0.5vw;
}

#search {
  /*Display stuff*/
  display: flex;
  flex: 1;
  align-items: center;
  /*Box model stuff*/
  padding: 1vh 1vw;
  border-radius: 2.4rem;
  background-color: #f0f0f0;
  /*Miscellaneous*/
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

#input {
  /*Display stuff*/
  flex: 1;
  /*Box model stuff*/
  border: none;
  border-radius: 2.4rem;
  outline: none;
  background-color: #f2f0f1;
  /*Typography stuff*/
  font-size: 1rem;
}

.search {
  /*Box model stuff*/
  margin-left: 1.2rem;
  /*Typography stuff*/
  color: #f2f0f1;
}

.search:hover {
  /*Typography stuff*/
  color: #f2f0f1;
  /*Miscellaneous*/
  cursor: pointer;
}

.search-icon {
  /*Box model stuff*/
  margin-right: 0.8rem;
  /*Typography stuff*/
  color: #d4cfcf;
}

.icon {
  /*Typography stuff*/
  font-size: 1.5rem;
  color: #000;
}

.icon-container {
  /*Display stuff*/
  display: flex;
  /*Box model stuff*/
  padding: 1vw;
  /*Miscellaneous*/
  gap: 1vw;
}

@font-face {
  font-family: "Integral CF";
  font-style: normal;
  font-weight: 400;
  src: local("Integral CF"),
    url("../assets/fonts/IntegralCF/Fontspring-DEMO-integralcf-bold.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  src: local("Satoshi"),
    url("../assets/fonts/Satoshi/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
}

.dropbtn {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  padding: 0.5vw;
  border: none;
  background-color: #fff;
  /*Typography stuff*/
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  color: #000;
  /*Miscellaneous*/
  cursor: pointer;
  gap: 0.5vw;
}

.dropbtn:after {
  /*Display stuff*/
  content: "";
  /*Box model stuff*/
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  /*Manipulations stuff*/
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.dropdown-content {
  /*Display stuff*/
  display: none;
  /*Positioning stuff*/
  position: absolute;
  z-index: 1;
  /*Box model stuff*/
  min-width: 160px;
  background-color: #fff;
  /*Miscellaneous*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  /*Display stuff*/
  display: block;
  /*Box model stuff*/
  padding: 12px 16px;
  /*Typography stuff*/
  text-decoration: none;
  color: #000;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropbtn:hover:after {
  opacity: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
}

/*hero section*/
.hero {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*Box model stuff*/
  padding: 7vw;
  background-color: #f2f0f1;
  background-image: url("../assets/images/hero\ section.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-text {
  width: 38.6vw;
}

.hero h1 {
  /*Box model stuff*/
  margin: 0;
  /*Typography stuff*/
  font-family: Integral CF;
  font-size: 4.26rem;
  font-weight: 700;
  text-align: left;
  /*Miscellaneous*/
  line-height: 64px;
}

.hero p {
  /*Box model stuff*/
  margin-bottom: 4.5vh;
  /*Typography stuff*/
  font-family: Satoshi;
  font-size: 1.07rem;
  font-weight: 400;
  text-align: left;
  /*Miscellaneous*/
  line-height: 22px;
}

.cta-btn {
  /*Display stuff*/
  display: inline-block;
  /*Box model stuff*/
  padding: 2vh 5vw;
  border-radius: 2.4rem;
  background-color: #000;
  /*Typography stuff*/
  font-family: "Satoshi";
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /*Manipulations stuff*/
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  opacity: 0.8;
}

.shop-categories {
  /*Display stuff*/
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*Box model stuff*/
  margin-top: 6vh;
  /*Miscellaneous*/
  gap: 2.2vw;
}

.category {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category-number {
  /*Display stuff*/
  display: inline-block;
  /*Typography stuff*/
  font-family: "Satoshi";
  font-size: 2.8rem;
  font-weight: bold;
}

.category-name {
  /*Display stuff*/
  display: inline-block;
  /*Typography stuff*/
  font-family: "Satoshi";
  font-size: 1.1rem;
  font-weight: bold;
}

.vl {
  /*Box model stuff*/
  height: 12vh;
  border-left: 0.1rem solid #ccc;
}

/*logo banner*/
.logo-banner {
  /*Display stuff*/
  display: flex;
  justify-content: space-between;
  /*Box model stuff*/
  padding: 6vh 7vw;
  background-color: #000;
}

/* new arrivals section style*/
.new-arrivals,
.top-selling {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  margin-bottom: 5vh;
}

.arrivals-items {
  /*Display stuff*/
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /*Box model stuff*/
  padding: 0vh 6vw 0vh 3vw;
  gap:1.3rem;
}

.new-arrivals h2,
.top-selling h2,
.dress-style h2 {
  /*Box model stuff*/
  margin-bottom: 2vh;
  /*Typography stuff*/
  font-family: "Integral CF", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  /*Miscellaneous*/
  line-height: 16.7vh;
}

.item {
  /*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.item p {
  /*Box model stuff*/
  margin: 2vh 0vw 1.2vh 0vw;
  /*Typography stuff*/
  font-family: "Satoshi";
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  /*Miscellaneous*/
  line-height: 4vh;
}

.item img {
  /*Box model stuff*/
  width: 20.5vw;
  height: 41vh;
  border-radius: 1.4rem;
}

.price-container {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*Miscellaneous*/
  gap: 1vw;
}

.item .price-container .actual-price {
  /*Typography stuff*/
  font-family: "Satoshi", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  /*Miscellaneous*/
  line-height: 2.2;
}

.item .price-container .real-price {
  /*Typography stuff*/
  font-family: "Satoshi", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  text-decoration: line-through;
  color: #888;
  /*Miscellaneous*/
  line-height: 2.2;
}

.item .price-container .reduction {
  /*Box model stuff*/
  padding: 0.9vh 1vw;
  border-radius: 2.4rem;
  background-color: transparent;
  /*Typography stuff*/
  font-size: 0.8rem;
  color: #ff3333;
}

.item .price-container .active {
  background-color: #f4d0d0;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 0vh;
}

.stars {
  color: #ffc107;
  margin-right: 1vw;
}

.rating-number {
  font-family: "Satoshi", sans-serif;
  font-size: 0.9rem;
}

.item p.price {
  font-family: "Satoshi";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0vh;
  text-align: left;
}

.view-all {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  margin: 3vh;
  padding: 2vh 5.7vw;
  border: 0.1rem1 solid #ccc;
  border-radius: 2.4rem;
  background-color: #fff;
  /*Typography stuff*/
  font-family: "Satoshi", sans-serif;
  font-size: 1.1rem;
  color: #000;
  /*Miscellaneous*/
  cursor: pointer;
}

.view-all:hover {
  background-color: #888;
}

.section-divider {
  border: 0.1rem solid rgb(0, 0, 0, 0.1);

  width: 85vw;
  margin-bottom: 0vh !important;
}

/*dress-style section*/
.dress-style {
  /*Box model stuff*/
  margin: 6.5vh 7vw;
  padding: 1vh 4vw;
  border-radius: 2rem;
  background-color: #f0f0f0;
}

.dress-style-items {
  /*Display stuff*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*Box model stuff*/
  padding-top: 1vh;
  /*Miscellaneous*/
  row-gap: 3vh;
}

.dress-style-item {
  /*Box model stuff*/
  height: 40vh;
  border-radius: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dress-style-item h4 {
  /*Box model stuff*/
  margin: 3vh 3vw;
  /*Typography stuff*/
  font-family: "Satoshi";
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
}

.casual {
  flex-basis: 37.5%;
  background-image: url("../assets/images/image 11.png");
}

.formal {
  flex-basis: 61%;
  background-image: url("../assets/images/image 13.png");
}

.party {
  flex-basis: 63%;

  background-image: url("../assets/images/image 12.png");
}

.gym {
  flex-basis: 36%;

  background-image: url("../assets/images/image 14.png");
}

.review {
  padding: 8vh 7vw;
  display: flex;
  flex-direction: column;
}

.title-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review h2 {
  font-family: "Integral CF", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 7.7vh;
  margin-bottom: 5vh;
}

.container {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*Miscellaneous*/
  gap: 1vw;
}

.review-container {
  /*Display stuff*/
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  height: 24vh !important;
  margin: 0vh 0.4vw;
  padding: 4.5vh 2vw;
  border: solid rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  /*Miscellaneous*/
  /* width: 24vw !important; */
}

.reviewer {
  /*Display stuff*/
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /*Box model stuff*/
  padding: 2vh 0;
}

.reviewer h4 {
  /*Box model stuff*/
  margin: 0;
  /*Typography stuff*/
  font-family: "Satoshi";
  font-size: 1.4rem;
  color: #000;
}

.checkmark {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50%;
  background-color: #01ab31;
}

.checkmark i {
  color: #fff;
}

.buttonStyle {
  /*Display stuff*/
  display: inline-block;
  /*Box model stuff*/
  margin-top: 5vh;
  padding: 2vh 1vw;
  border: none;
  border-radius: 1rem;
  background-color: #fff;
  /*Typography stuff*/
  text-decoration: none;
  color: #000;
  /*Manipulations stuff*/
  transition: background-color 0.3s ease;
  /*Miscellaneous*/
  cursor: pointer;
}

.buttonStyle:hover {
  background-color: #ccc;
}

.review p {
  /*Box model stuff*/
  margin: 0;
  /*Typography stuff*/
  font-family: "Satoshi";
  font-size: 1.05rem;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe {
  /* Add background color, padding, and border radius to the subscribe section */
  background-color: #000;
  padding: 0.7vh 4.2vw;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 5.8vw 0vh 7vw;
  position: relative;
  z-index: 10;
}

.subscribe h2 {
  /* Style the heading */
  font-family: "Integral CF", sans-serif;
  color: #fff;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 6.7vh;
  /* margin-bottom: 6vh; */
  flex-basis: 50%;
}

#subscribeForm {
  /* Add padding to the form */
  padding: 5vh 0vw;
  display: flex;
  flex-direction: column;
  /* flex-basis: 21%; */
}

.input-group {
  display: flex;
  align-items: center;
  font-family: "Satoshi";
  font-size: 1.1rem;
  padding: 1vh 1vw;
  margin-bottom: 2vh;
  border: solid #fff;
  border-radius: 1.5rem;
  height: 4vh;
  width: 22vw;
  background-color: #fff;
  gap: 1vw;
}

#emailInput {
  /* Style the email input field */
  background-color: transparent;
  border: none;
  font-size: 1rem;


}

#emailInput:focus-visible {
  outline: none;

}

#emailInput::placeholder {
  /* Style the placeholder text */
  color: #ccc;
}

#envelope-icon {
  font-size: 1.4rem;
}

#subscribeForm button {
  /* Style the subscribe button */
  font-family: "Satoshi";
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #fff;
  color: #000;
  border: none;
  /* padding: 9px 17px; */
  border-radius: 1.5rem;
  cursor: pointer;
  height: 6vh;
}

#subscribeForm button:hover {
  /* Add hover effect to the subscribe button */
  background-color: #ccc;
}

/* footer */
footer {
  background-color: #F0F0F0;
  margin: -14vh;
  padding: 14vh;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0vh 5.3vw 0vh 7vw;
  gap: 1vw;

}

.shopco {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.shopco h2 {
  font-family: "Integral CF", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.7vh;
  margin-bottom: 4vh;
  text-align: left;

}

.shopco p {
  margin: 0;
  font-family: "Satoshi";
  font-size: 0.96rem;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);

}

.socialImages {
  margin: 5vh 0vw;
  display: flex;
  justify-content: flex-start;
  gap: 0.9rem;
}

.company,
.help,
.faq,
.resources {
  flex: 1;
}

.company h4,
.help h4,
.faq h4,
.resources h4 {
  font-family: "Satoshi";
  font-size: 1rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.company ul,
.help ul,
.faq ul,
.resources ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0.8rem;
  list-style-type: none;
}

.company ul li a,
.help ul li a,
.faq ul li a,
.resources ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  border: none;
  /*Typography stuff*/
  font-family: "Satoshi", Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);

  /*Miscellaneous*/
  cursor: pointer;

}

.coppyRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 1vw 2vh 7vw;
}

.coppyRight p {
  flex-basis: 73%;
  /*Box model stuff*/
  margin: 0;
  /*Typography stuff*/
  font-family: "Satoshi";
  font-size: 1.05rem;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

.images {
  flex-basis: 28%;
  display: flex;
  justify-content: flex-start;

}




/* Media queries for responsiveness */

/* Adjust header padding and font sizes for smaller screens */
@media screen and (max-width: 768px) {
  header {
    padding: 3vh 5vw;
  }

  .logo {
    font-size: 1.2rem;
  }

  nav ul li a {
    font-size: 0.9rem;
  }
}

/* Adjust search input width for smaller screens */
@media screen and (max-width: 576px) {
  #search {
    max-width: 90vw;
  }
}